<footer class="bg-white">
  <div class="max-w-7xl mx-auto pt-12 pb-8 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
    <div class="mt-8 md:mt-0">
      <p class="text-center text-gray-700 text-sm">
        &copy; <%= Date.current.year %> Rails 6 Starter
      </p>
    </div>
    <div class="flex justify-center space-x-6">
      <%= link_to t("shared.terms_link"), "#", class: "text-gray-700 hover:text-gray-900 text-xs" %>
      <%= link_to t("shared.privacy_link"), "#", class: "text-gray-700 hover:text-gray-900 text-xs" %>
    </div>
  </div>
</footer>
